<div class="" style="overflow-y: hidden">
  <ngx-spinner
    color="#0074a7"
    type="ball-clip-rotate-pulse"
    size="medium"
    [fullScreen]="true"
    ><p style="color: white">Plase wait..</p></ngx-spinner
  >

  <header class="">
    <!-- <div class="top-nav">
      <div class="d-flex text-transform;">
        <mat-icon style="color: rgb(255, 255, 255)">phone</mat-icon>
        &nbsp;&nbsp;
        <a
          href="tel:+8801685747910"
          style="
            color: white;
            margin-top: 5px;
            margin-left: 5px;
            margin-right: 10px;
          "
        >
          +8801685747910
        </a>

        <mat-icon style="color: rgb(255, 255, 255)">email</mat-icon>
        &nbsp;&nbsp;
        <a
          href="mailto:info@rexsystemsbd.com"
          style="color: white; margin-top: 5px; margin-left: 5px"
        >
          info@rexsystemsbd.com
        </a>
      </div>
    </div>

    <hr /> -->

    <nav
      class="container mx-auto bg-white navbar p-3 navbar-expand-lg navbar-light d-flex justify-content-between"
      style="border-radius: 6px"
    >
      <img
        onclick=""
        class="header-img ml-2"
        src="assets/images/logo.png"
        alt=""
      />
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse justify-content-end"
        id="navbarNavAltMarkup"
      >
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/">Home</a>
          <a class="nav-item nav-link" (click)="gotToRedirect('about-id')"
            >Solution</a
          >
          <a class="nav-item nav-link" (click)="gotToRedirect('clients-id')"
            >Clients</a
          >
          <a class="nav-item nav-link" (click)="gotToRedirect('service-id')"
            >Services</a
          >
          <a class="nav-item nav-link" (click)="gotToRedirect('gallery-id')"
            >Gallery</a
          >

          <button
            class="nav-item nav-link hire-developer text-light"
            (click)="gotToRedirect('teams-id')"
          >
            Hire a Developer
          </button>
        </div>
      </div>
    </nav>
  </header>

  <div id="mainContianerId" class="m-0 p-0">
    <div
      id="carouselExampleControls"
      class="carousel slide orange-bg"
      data-interval="55555555"
      data-ride="carousel"
    >
      <div class="banner-area1">
        <div class="container">
          <div class="banner-image-background">
            <h1 class="banner-header">Your reliable hub of</h1>
            <h1 class="banner-header">reliable developers</h1>
            <h1 class="banner-header">and designers</h1>

            <button class="btn bnnr-btn" (click)="gotToRedirect('contact-id')">
              Lets discuss your project Requirement
            </button>
          </div>
        </div>
      </div>
    </div>

    <div id="about-id " class="about-area">
      <div class="container">
        <!-- <div class="row">
          <div class="col-sm-6 text-secondary" data-aos="fade-right">
            <div class="header">About US</div>
            <p class="about-p">
              Rex System Bangladesh is a leading software development company
              based in Bangladesh. With a strong focus on delivering innovative
              solutions, we specialize in creating custom software applications
              to meet the unique needs of our clients. At Rex System Bangladesh,
              we believe that technology has the power to transform businesses
              and drive growth. Our team of skilled software engineers,
              designers, and project managers work collaboratively to develop
              cutting-edge software solutions that streamline processes, enhance
              productivity, and enable businesses to stay ahead in today's
              competitive landscape.
            </p>
            <p class="about-p">
              In addition, European consortium assigns in-country Regional HR
              Specialists to support the legal and regulatory HR activities in
              relation to onboarding and offboarding local Professionals hired
              on behalf of our Customer.
            </p>
            
          </div>
          <div class="col-sm-6" data-aos="fade-left">
            <div class="parent-son-img"></div>
          </div>
        </div> -->

        <h1 class="header">Solutions We Deliver</h1>
        <p class="about-p">Building the Future with Technology</p>

        <div class="row">
          <div class="col-md-4">
            <div class="solution-div">
              <h1>Customized Software Development</h1>
              <p>
                We craft tailored software solutions designed to meet your
                unique business requirements, ensuring efficiency, and
                scalability
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="solution-div">
              <h1>Web and Mobile App Development</h1>
              <p>
                Our team builds high-performance web and mobile applications
                with a focus on seamless functionality
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="solution-div">
              <h1>User Centric Design to Development</h1>
              <p>
                We prioritize user experience in every project, ensuring
                intuitive design and smooth interaction to deliver solutions
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class=""
      style="background-color: #0157a814; margin-top: 5rem; padding: 5rem 0"
    >
      <div class="container">
        <div class="row">
          <div class="col-md-2">
            <h1 class="header">Hire a Developer</h1>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-9 hire-div-p">
            Get expert developers to bring your ideas to life. From building new
            apps to enhancing existing systems, we provide the talent you need
            to achieve your goals. Let’s create something amazing together!
          </div>
        </div>

        <div class="row bg-white mt-5">
          <div class="col-md-1 p-5">
            <img
              width="80px"
              src="https://s3-alpha-sig.figma.com/img/680c/c9e7/e2e9be625f0657e971bd044ee7df0cc7?Expires=1736726400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=FWc97F9c1RhdQafEqvGOsp54qUHttUV7ZE7fgzqP5U84LbiQL9HKkosDC3fcjvNpzH5IopNzlPpalPxOD3CknZPCu63Hmot0JreFjTTEHIocpXKNg2Ja93v6pYHG0QJg7Rew4h5-QHfGl2VmWmTyFVVM-x6hzHrj23Hp01ABxkapzwWYdEdTT596-z-cO7-VXCp4gfOQQssuQJLPRNNRxIG1YqlVt8XiaUAcxgGJJ8SizOvKWLKDuHOXyZYy1ZVkJC4UKwgi5DPoHqzFKZdjzOfanFiQ1neVVm94cndanGUcM6F43ZDh~zIUjbS~ipNcvSACxaT1TDW-Q1REl7CmGA__"
              alt=""
            />
          </div>

          <div class="col-md-11 language-section">
            <h1>.Net Developers</h1>
            <p>
              Our team of highly skilled engineers specializes in .NET
              development, delivering robust, scalable, and high-performing
              applications tailored to your business needs. Whether you're
              building web, desktop, or cloud-based solutions, our experts bring
              years of hands-on experience and industry best practices to ensure
              seamless development and outstanding results.
            </p>
          </div>
        </div>

        <div class="row bg-white mt-5">
          <div class="col-md-1 p-5">
            <img width="80px" src="assets/images/python.png" alt="" />
          </div>

          <div class="col-md-11 language-section">
            <h1>Python Developers</h1>
            <p>
              From data-driven applications to scalable web solutions, our
              engineers excel at delivering high-quality, efficient, and secure
              Python-based solutions tailored to your business goals. With deep
              expertise in frameworks like Django, Flask, and FastAPI, we ensure
              rapid development, seamless integration, and outstanding
              performance.
            </p>
          </div>
        </div>

        <div class="row bg-white mt-5">
          <div class="col-md-1 p-5">
            <img
              width="80px"
              src="https://s3-alpha-sig.figma.com/img/c718/3c1b/09add3b755526ab25ff28b2f20cedbf6?Expires=1736726400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=aOjQwXI92EcQBjuOTshRdsu52TIhLbjYSdey1QRdM1fiFqjPDZeuToHf33-E5kSsoMGIPzJb9m1pINboaq0KmyuNtpKLMufeYmESOoLfPgb~SGXa26xfphn6QI62xulcjF1CGoJJHW-Q6Y3j7722DYK7udBLDQU1G4bgxmhvJrftQc85I2Hl5piI5qBySRdugQJElj5-RVstrKvteePXZbh-3TJk95bqGDs1NeCo0wPg4ifiOfrDcGUY5PDBDYGhmkfncIOuchc9SWK1enuvVC7iSn95dWb6vb1MPPUKqVjQ-nqSFGQyAWHtm-eV-NHE~ls-qSq8ruhccVLZxcM6vA__"
              alt=""
            />
          </div>

          <div class="col-md-11 language-section">
            <h1>Wordpress Developers</h1>
            <p>
              From design to deployment, we handle every aspect of your
              WordPress project. Our skilled WordPress developers specialize in
              creating custom themes, plugins, and fully optimized websites
              tailored to your unique brand identity. Whether it’s a personal
              blog, business website, or e-commerce platform, we ensure seamless
              functionality, responsive design, and a user-friendly experience.
            </p>
          </div>
        </div>

        <div class="row bg-white mt-5">
          <div class="col-md-1 p-5">
            <img
              width="80px"
              src="https://s3-alpha-sig.figma.com/img/579a/6086/79b63efd8ea87b5595505f2eed503e83?Expires=1736726400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=KrsoCb-~Ec8a6N7NdklTWJD4ER0T4v9~PNJyLegiuwobWxHB7en0MXMcZpjE9glgS2CcL3T~2S~Kv~o4XSupAhJlog~ew~BQCPaDtUPIVQmj5tcPRLsv6RLyTYao3WBSwdws5VF24jvXI-jmDJTxGq-lpejzXYOxSQg4MxulyJ-ooIDrx1Yq08vkUUOH3JnNEE5pIWXQpxg9yn1m30c7e4KBBpUR5X7K3OmG2UjuJsQbH9AjbswGHgYxPx27nQ8JboUROF79KHLAOmb68CISjf5R2bE-if3LHZDokTxnDfuiCLzpcX2PaVzUKlk-eldDnsus2KCPNHo8e8VocWwb6g__"
              alt=""
            />
          </div>

          <div class="col-md-11 language-section">
            <h1>Shopify Developers</h1>
            <p>
              Empower your e-commerce business with our expert Shopify
              developers. We help to build fully customized, conversion-driven
              online stores tailored to your brand, offering seamless
              integrations, engaging user interfaces, and optimized performance
              to help you scale your business effortlessly. Also if you are
              facing any customization issue, we are here to help.
            </p>
          </div>
        </div>

        <div class="row bg-white mt-5">
          <div class="col-md-1 p-5">
            <img
              width="80px"
              src="https://s3-alpha-sig.figma.com/img/a9dd/901c/1ba553f84e820f2a2be1e687cb6aa359?Expires=1736726400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Wvhxvhlzdxv3YCv6U~YkcFA244f6k9C5QB39gja48pXe~juT4Gi-j5am27o-Z6qj007Fw-pFs1UOuFEexkhcELeIzu2xVlBQPSzlpaPaWWnyVsmPQ9cFHrjm71gkpS0VCO7rQlqfHRdxlAJTCk86lPdBI6sXuQksgkUtBScx71L1nX3nB4kUvkE335bMSzhjWcFT3iUPcSt8ItayBIctBwKMGusDFyV221tI4Bci7cqFeTliKiDh2KfQQOf8DEvp02h3pRCDovvhMWFsV5FlQkoYf5q~G8NVIWr5mXzmRa0i1sprn5dL46B90LqwShyzYgqnMVPVVT0wof6nEPJmXQ__"
              alt=""
            />
          </div>

          <div class="col-md-11 language-section">
            <h1>Android Developers</h1>
            <p>
              Our skilled Android developers craft high-quality mobile
              applications designed for performance, usability, and scalability.
              Whether it's a business solution, a consumer app, or a game, we
              deliver innovative Android apps that offer a seamless user
              experience across devices.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="clients-area my-5" id="clients-id">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h1 class="header my-5">
              Companies and brands that our developers have worked with
            </h1>
          </div>
        </div>

        <div class="row mx-0 justify-content-center">
          <div
            class="d-flex flex-wrap justify-content-center align-items-center client-logos"
            *ngFor="let client of clients"
          >
            <a
              [href]="client.link || '#'"
              target="_blank"
              class="client-logo d-flex justify-content-center align-items-center"
            >
              <img
                [src]="client.image"
                [alt]="client.name"
                class="client-logo-img"
              />
            </a>
          </div>
        </div>
      </div>
    </div>

    <div
      id="service-id"
      class="business-area"
      style="background-color: #0157a814; margin-top: 5rem; padding: 5rem 0"
    >
      <div class="container">
        <div class="row">
          <div class="col-md-2">
            <h1 class="header">Service Area</h1>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-9 services-div-p">
            Get expert developers to bring your ideas to life. From building new
            apps to enhancing existing systems, we provide the talent you need
            to achieve your goals. Let’s create something amazing together!
          </div>
        </div>

        <div class="row mt-5 justify-content-between">
          <div
            *ngFor="let service of services"
            class="service-div row col-md-6 py-5 px-2 bg-white mt-4"
          >
            <div class="col-md-2">
              <img
                [src]="service.image"
                [alt]="service.title"
                class="service-image"
              />
            </div>
            <div class="col-md-9">
              <h1 class="service-title">{{ service.title }}</h1>
              <p class="service-description">{{ service.description }}</p>
            </div>
          </div>
        </div>

        <!-- <div
          id="accordion1"
          style="
            border-width: 1px;
            border-color: #e2e2e2;
            border-radius: 0px 0px 10px 10px;
            background-color: #ffffff;
            box-shadow: 7px 7px 10px 0 rgb(63 116 255 / 9%);
          "
        >
          <div class="btn-header d-flex three-btn">
            <a
              (click)="updateSelectedDom($event)"
              class="btn tab-link button-selected btn-first"
              id="WhoWeAreLink"
              data-toggle="collapse"
              href="#WhoWeAre"
              aria-expanded="true"
              aria-controls="collapseOneA"
            >
              Hire a Developer
            </a>
            <a
              (click)="updateSelectedDom($event)"
              style="border-right: 1px solid #e2e2e2"
              class="btn collapsed tab-link button-deselected btn-second"
              id="DevelopmentServicesLink"
              data-toggle="collapse"
              href="#DevelopmentServices"
              aria-expanded="false"
              aria-controls="collapseTwoA"
            >
              End-to-End Solutions
            </a>

          </div>
          <div
            id="WhoWeAre"
            class="collapse show"
            aria-labelledby="headingTwoAd"
            data-parent="#accordion1"
          >
            <div class="page-content">
              <div class="row">
                <div class="col-sm-6" style="padding-right: 0">
                  <div class="tab-img1"></div>
                </div>
                <div class="col-sm-6" style="padding-left: 0">
                  <div id="accordion-h1">
                    <div class="border-list">
                      <div id="headingOne">
                        <a
                          class="btn collapse-title"
                          data-toggle="collapse"
                          data-target="#collapseOne"
                          aria-expanded="true"
                          aria-controls="collapseOne"
                        >
                          <h4 class="tab-header4">
                            Targeted candidate sourcing
                          </h4>
                        </a>
                      </div>

                      <div
                        id="collapseOne"
                        class="collapse"
                        aria-labelledby="headingOne"
                        data-parent="#accordion-h1"
                      >
                        <p class="tab-p">
                          Our people have built an elite network by sourcing and
                          engaging high quality candidates. Through our strong
                          presence in local community groups, and industry
                          partners, our team is able to deepen their expertise
                          and continue to grow our vast talent network. With our
                          recruiting expertise combined with deep industry
                          knowledge, we deliver end-to-end support for our
                          clients.
                        </p>
                      </div>
                    </div>
                  </div>

                  <div id="accordion-h2">
                    <div class="border-list">
                      <div id="headingTwo">
                        <a
                          class="btn collapsed collapse-title"
                          data-toggle="collapse"
                          data-target="#collapseTwo"
                          aria-expanded="false"
                          aria-controls="collapseTwo"
                        >
                          <h4 class="tab-header4">
                            Candidate application screening
                          </h4>
                        </a>
                      </div>
                      <div
                        id="collapseTwo"
                        class="collapse"
                        aria-labelledby="headingTwo"
                        data-parent="#accordion-h2"
                      >
                        <p class="tab-p">
                          Our process increases speed to hire. We establish key
                          timeframes to accelerate the hiring process, so that
                          you can interview the top-tier candidates as quickly
                          as possible. From initial point of contact to an
                          accepted job offer, we will secure the right
                          professionals in less than 3 weeks. We offer a
                          dedicated recruiting team experienced in volume
                          hiring, to secure the best talent in the shortest
                          amount of time.
                        </p>
                      </div>
                    </div>
                  </div>

                  <div id="accordion-h3">
                    <div class="border-list">
                      <div id="headingThree">
                        <a
                          class="btn collapsed collapse-title"
                          data-toggle="collapse"
                          data-target="#collapseThree"
                          aria-expanded="false"
                          aria-controls="collapseThree"
                        >
                          <h4 class="tab-header4">Assessment and management</h4>
                        </a>
                      </div>
                      <div
                        id="collapseThree"
                        class="collapse"
                        aria-labelledby="headingThree"
                        data-parent="#accordion-h3"
                      >
                        <p class="tab-p">
                          Our insights are the foundation of our European
                          Consortium reports. Our annual Salary Guide report
                          provides a comprehensive list of salaries in top
                          industries to help understand salary trends and
                          determine your hiring budget. Our recruiting experts
                          use market mapping and salary benchmarking to provide
                          insights into the hot spot areas so that you can
                          maintain a competitive position in your market.
                        </p>
                      </div>
                    </div>
                  </div>

                  <div id="accordion-h4">
                    <div class="border-list">
                      <div id="headingFour">
                        <a
                          class="btn collapsed collapse-title"
                          data-toggle="collapse"
                          data-target="#collapseFour"
                          aria-expanded="false"
                          aria-controls="collapseFour"
                        >
                          <h4 class="tab-header4">
                            Ongoing candidate engagement
                          </h4>
                        </a>
                      </div>
                      <div
                        id="collapseFour"
                        class="collapse"
                        aria-labelledby="headingFour"
                        data-parent="#accordion-h4"
                      >
                        <p class="tab-p">
                          Our brand opens doors for our clients to attract the
                          best talent and reach the widest potential audience of
                          relevant high quality candidates. Through our digital
                          recruitment solutions, we receive 4X the views for
                          online job ads and have a 95% job fill rate.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div
            id="DevelopmentServices"
            class="collapse"
            aria-labelledby="headingTwoAd"
            data-parent="#accordion1"
          >
            <div class="page-content">
              <div class="row">
                <div class="col-sm-6" style="padding-right: 0">
                  <div class="tab-img2"></div>
                </div>
                <div class="col-sm-6" style="padding-left: 0">
                  <div id="accordion-mh1">
                    <div class="border-list">
                      <div id="headingOne">
                        <a
                          class="btn collapse-title"
                          data-toggle="collapse"
                          data-target="#collapseOne"
                          aria-expanded="true"
                          aria-controls="collapseOne"
                        >
                          <h4 class="tab-header4">Point of Sale</h4>
                        </a>
                      </div>

                      <div
                        id="collapseOne"
                        class="collapse"
                        aria-labelledby="headingOne"
                        data-parent="#accordion-mh1"
                      >
                        <p class="tab-p">
                          Whether you’re facing unexpected demands, need to
                          cover an absence or are implementing transformative
                          change, we have the expertise to supply contract
                          workers with the skills you need.
                        </p>
                      </div>
                    </div>
                  </div>

                  <div id="accordion-mh2">
                    <div class="border-list">
                      <div id="headingTwo">
                        <a
                          class="btn collapsed collapse-title"
                          data-toggle="collapse"
                          data-target="#collapseTwo"
                          aria-expanded="false"
                          aria-controls="collapseTwo"
                        >
                          <h4 class="tab-header4">
                            Small to Large Scale Ecommerce
                          </h4>
                        </a>
                      </div>
                      <div
                        id="collapseTwo"
                        class="collapse"
                        aria-labelledby="headingTwo"
                        data-parent="#accordion-mh2"
                      >
                        <p class="tab-p">
                          At European Consortium, we replace “Advertise and
                          Apply” with “Find and Engage” to expand our talent
                          pool. We’ve equipped our recruiting experts with
                          leading tech and data science to reach both passive
                          and active candidates. We provide comprehensive
                          support to organizations looking to expand their
                          contract workforce in accounting and finance,
                          architecture, construction, engineering, information
                          technology, life sciences and property and facilities
                          management.
                        </p>
                      </div>
                    </div>
                  </div>

                  <div id="accordion-mh3">
                    <div class="border-list">
                      <div id="headingThree">
                        <a
                          class="btn collapsed collapse-title"
                          data-toggle="collapse"
                          data-target="#collapseThree"
                          aria-expanded="false"
                          aria-controls="collapseThree"
                        >
                          <h4 class="tab-header4">
                            Inventory & Accounting Solutions
                          </h4>
                        </a>
                      </div>
                      <div
                        id="collapseThree"
                        class="collapse"
                        aria-labelledby="headingThree"
                        data-parent="#accordion-mh3"
                      >
                        <p class="tab-p">
                          Our people have built an elite network by sourcing and
                          engaging high quality candidates. Through our strong
                          presence in local community groups, and industry
                          partners, our team is able to deepen their expertise
                          and continue to grow our vast talent network. With our
                          recruiting expertise combined with deep industry
                          knowledge, we deliver end-to-end support for our
                          clients.
                        </p>
                      </div>
                    </div>
                  </div>

                  <div id="accordion-mh4">
                    <div class="border-list">
                      <div id="headingFour">
                        <a
                          class="btn collapsed collapse-title"
                          data-toggle="collapse"
                          data-target="#collapseFour"
                          aria-expanded="false"
                          aria-controls="collapseFour"
                        >
                          <h4 class="tab-header4">
                            Performance analysis and System design
                          </h4>
                        </a>
                      </div>
                      <div
                        id="collapseFour"
                        class="collapse"
                        aria-labelledby="headingFour"
                        data-parent="#accordion-mh4"
                      >
                        <p class="tab-p">
                          Our process increases speed to hire. We establish key
                          timeframes to accelerate the hiring process, so that
                          you can interview the top-tier candidates as quickly
                          as possible. From initial point of contact to an
                          accepted job offer, we will secure the right contract
                          professionals in less than 48 hours. We offer a
                          dedicated recruiting team experienced in volume
                          hiring, to secure the best talent in the shortest
                          amount of time.
                        </p>
                      </div>
                    </div>
                  </div>

                  <div id="accordion-mh5">
                    <div class="border-list">
                      <div id="headingFive">
                        <a
                          class="btn collapsed collapse-title"
                          data-toggle="collapse"
                          data-target="#collapseFive"
                          aria-expanded="false"
                          aria-controls="collapseFive"
                        >
                          <h4 class="tab-header4">ERP Solutions</h4>
                        </a>
                      </div>
                      <div
                        id="collapseFive"
                        class="collapse"
                        aria-labelledby="headingFive"
                        data-parent="#accordion-mh5"
                      >
                        <p class="tab-p">
                          Our insights are the foundation of our European
                          Consortium reports. Our annual Salary Guide report
                          provides a comprehensive list of salaries in top
                          industries to help understand salary trends and
                          determine your hiring budget. Our recruiters use
                          market mapping and salary benchmarking to provide
                          insights into the hot spot areas so that you can
                          maintain a competitive position in your market.
                        </p>
                      </div>
                    </div>
                  </div>

                  <div id="accordion-mh6">
                    <div class="border-list">
                      <div id="headingSix">
                        <a
                          class="btn collapsed collapse-title"
                          data-toggle="collapse"
                          data-target="#collapseSix"
                          aria-expanded="false"
                          aria-controls="collapseSix"
                        >
                          <h4 class="tab-header4">Android apps</h4>
                        </a>
                      </div>
                      <div
                        id="collapseSix"
                        class="collapse"
                        aria-labelledby="headingSix"
                        data-parent="#accordion-mh6"
                      >
                        <p class="tab-p">
                          Our brand opens doors for our clients to attract the
                          best talent and reach the widest potential audience of
                          relevant high quality candidates. Through our digital
                          recruitment solutions, we receive 4X the views for
                          online job ads and have a 95% job fill rate.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div
            id="ContactUs"
            class="collapse"
            aria-labelledby="headingTwoAd"
            data-parent="#accordion1"
          >
            <div class="page-content">
              <div class="row">
                <div class="col-sm-6" style="padding-right: 0">
                  <div class="tab-img3"></div>
                </div>
                <div class="col-sm-6" style="padding-left: 0">
                  <div id="accordion-mh1">
                    <div class="border-list">
                      <div id="headingOne">
                        <a
                          class="btn collapse-title"
                          data-toggle="collapse"
                          data-target="#collapseOne"
                          aria-expanded="true"
                          aria-controls="collapseOne"
                        >
                          <h4 class="tab-header4">Big data engineers</h4>
                        </a>
                      </div>

                      <div
                        id="collapseOne"
                        class="collapse"
                        aria-labelledby="headingOne"
                        data-parent="#accordion-mh1"
                      >
                        <p class="tab-p">
                          It is the role of a big data engineer to build,
                          maintain and ensure a production-ready big data
                          environment. This environment this role works in will
                          include architecture, technology standards, open
                          source options, as well as data preparation and data
                          management processes.
                        </p>
                      </div>
                    </div>
                  </div>

                  <div id="accordion-mh2">
                    <div class="border-list">
                      <div id="headingTwo">
                        <a
                          class="btn collapsed collapse-title"
                          data-toggle="collapse"
                          data-target="#collapseTwo"
                          aria-expanded="false"
                          aria-controls="collapseTwo"
                        >
                          <h4 class="tab-header4">Business analysts</h4>
                        </a>
                      </div>
                      <div
                        id="collapseTwo"
                        class="collapse"
                        aria-labelledby="headingTwo"
                        data-parent="#accordion-mh2"
                      >
                        <p class="tab-p">
                          Business analysts work with organisations to help them
                          improve their processes and systems. They conduct
                          research and analysis in order to come up with
                          solutions to business problems and help to introduce
                          these systems to businesses and their clients.
                        </p>
                      </div>
                    </div>
                  </div>

                  <div id="accordion-mh3">
                    <div class="border-list">
                      <div id="headingThree">
                        <a
                          class="btn collapsed collapse-title"
                          data-toggle="collapse"
                          data-target="#collapseThree"
                          aria-expanded="false"
                          aria-controls="collapseThree"
                        >
                          <h4 class="tab-header4">Cloud architects</h4>
                        </a>
                      </div>
                      <div
                        id="collapseThree"
                        class="collapse"
                        aria-labelledby="headingThree"
                        data-parent="#accordion-mh3"
                      >
                        <p class="tab-p">
                          In today’s market there are no boundaries, and
                          European Consortium is a trusted partner
                          to organizations across the U.S. and around the world.
                          Whether you need a professional or a whole new team,
                          we’ll provide you with quick access to tech talent who
                          will make a difference from the moment they join. 
                        </p>
                      </div>
                    </div>
                  </div>

                  <div id="accordion-mh4">
                    <div class="border-list">
                      <div id="headingFour">
                        <a
                          class="btn collapsed collapse-title"
                          data-toggle="collapse"
                          data-target="#collapseFour"
                          aria-expanded="false"
                          aria-controls="collapseFour"
                        >
                          <h4 class="tab-header4">Data scientists</h4>
                        </a>
                      </div>
                      <div
                        id="collapseFour"
                        class="collapse"
                        aria-labelledby="headingFour"
                        data-parent="#accordion-mh4"
                      >
                        <p class="tab-p">
                          Data scientists help companies interpret and manage
                          data and solve complex problems using expertise in a
                          variety of data niches. They generally have a
                          foundation in computer science, modeling, statistics,
                          analytics, and math - coupled with a strong business
                          sense. It’s this merging of esoteric intelligence and
                          practical knowledge that makes the data scientist so
                          valuable to a company
                        </p>
                      </div>
                    </div>
                  </div>

                  <div id="accordion-mh5">
                    <div class="border-list">
                      <div id="headingFive">
                        <a
                          class="btn collapsed collapse-title"
                          data-toggle="collapse"
                          data-target="#collapseFive"
                          aria-expanded="false"
                          aria-controls="collapseFive"
                        >
                          <h4 class="tab-header4">Java developers</h4>
                        </a>
                      </div>
                      <div
                        id="collapseFive"
                        class="collapse"
                        aria-labelledby="headingFive"
                        data-parent="#accordion-mh5"
                      >
                        <p class="tab-p">
                          A Java developer is responsible for developing
                          applications and software using the programming
                          language Java. A Java developer is a specialized type
                          of programmer who may collaborate with web developers
                          and software engineers to integrate Java into business
                          applications, software, and websites
                        </p>
                      </div>
                    </div>
                  </div>

                  <div id="accordion-mh6">
                    <div class="border-list">
                      <div id="headingSix">
                        <a
                          class="btn collapsed collapse-title"
                          data-toggle="collapse"
                          data-target="#collapseSix"
                          aria-expanded="false"
                          aria-controls="collapseSix"
                        >
                          <h4 class="tab-header4">.Net Developers</h4>
                        </a>
                      </div>
                      <div
                        id="collapseSix"
                        class="collapse"
                        aria-labelledby="headingSix"
                        data-parent="#accordion-mh6"
                      >
                        <p class="tab-p">
                          A net developer is responsible for producing code
                          using . net languages such as C# and VB. Net
                          developers create applications from scratch, configure
                          existing systems and provide user support. ... A net
                          developer's overall goal is to work with internal
                          teams to design, develop and maintain software.
                        </p>
                      </div>
                    </div>
                  </div>

                  <div id="accordion-mh7">
                    <div class="border-list">
                      <div id="headingseven">
                        <a
                          class="btn collapsed collapse-title"
                          data-toggle="collapse"
                          data-target="#collapseseven"
                          aria-expanded="false"
                          aria-controls="collapseseven"
                        >
                          <h4 class="tab-header4">Project managers</h4>
                        </a>
                      </div>
                      <div
                        id="collapseseven"
                        class="collapse"
                        aria-labelledby="headingseven"
                        data-parent="#accordion-mh7"
                      >
                        <p class="tab-p">
                          In the broadest sense, project managers (PMs) are
                          responsible for planning, organizing, and directing
                          the completion of specific projects for an
                          organization while ensuring these projects are on
                          time, on budget, and within scope.
                        </p>
                      </div>
                    </div>
                  </div>

                  <div id="accordion-mh8">
                    <div class="border-list">
                      <div id="headingEight">
                        <a
                          class="btn collapsed collapse-title"
                          data-toggle="collapse"
                          data-target="#collapseEight"
                          aria-expanded="false"
                          aria-controls="collapseEight"
                        >
                          <h4 class="tab-header4">QA</h4>
                        </a>
                      </div>
                      <div
                        id="collapseEight"
                        class="collapse"
                        aria-labelledby="headingEight"
                        data-parent="#accordion-mh8"
                      >
                        <p class="tab-p">
                          A quality assurance specialist ensures that the final
                          product observes the company's quality standards. In
                          general, these detail-oriented professionals are
                          responsible for the development and implementation of
                          inspection activities, the detection and resolution of
                          problems, and the delivery of satisfactory outcomes.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>

    <div id="gallery-id" class="img-area" >
      <div class="container">
        <div class="row my-5">
          <div class="col-md-3">
            <h1 style="padding-right: 70px" class="header">
              Towards a better future
            </h1>
          </div>
          <div class="col-md-9 gallery-div-p">
            We believe technology has the power to drive positive change. Our
            software company is dedicated to creating innovative solutions that
            contribute to a sustainable future.
          </div>
        </div>

        <img
          class="gallery-image"
          src="assets/images/gallery/image.jpg"
          alt="Gallery Image"
        />
      </div>

      <!-- <div class="container">
        <h1 class="header">Gallery</h1>
        <div class="row">
          <div class="col-md-4 mb-4">
            <img
              class="w-100"
              (click)="
                imageViewer('../../../../../assets/images/gallery/img1.jpeg')
              "
              src="../../../../../assets/images/gallery/img1.jpeg"
              alt=""
            />
          </div>
          <div class="col-md-4 mb-4">
            <img
              class="w-100"
              (click)="
                imageViewer('../../../../../assets/images/gallery/img2.jpg')
              "
              src="../../../../../assets/images/gallery/img2.jpg"
              alt=""
            />
          </div>
          <div class="col-md-4 mb-4">
            <img
              class="w-100"
              (click)="
                imageViewer('../../../../../assets/images/gallery/img3.jpeg')
              "
              src="../../../../../assets/images/gallery/img3.jpeg"
              alt=""
            />
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 mb-4">
            <img
              class="w-100"
              (click)="
                imageViewer('../../../../../assets/images/gallery/img4.jpg')
              "
              src="../../../../../assets/images/gallery/img4.jpg"
              alt=""
            />
          </div>
          <div class="col-md-4 mb-4">
            <img
              class="w-100"
              (click)="
                imageViewer('../../../../../assets/images/gallery/img5.jpg')
              "
              src="../../../../../assets/images/gallery/img5.jpg"
              alt=""
            />
          </div>
          <div class="col-md-4 mb-4">
            <img
              class="w-100"
              (click)="
                imageViewer('../../../../../assets/images/gallery/img6.jpg')
              "
              src="../../../../../assets/images/gallery/img6.jpg"
              alt=""
            />
          </div>
        </div>
      </div> -->
    </div>

    <div id="contact-id" class="contact-area" >
      <div class="container">
        <div class="row">
          <div class="col-md-7 form-div bg-white p-5">
            <h1>Have you got a project in mind? Let’s talk</h1>
            <!-- Name Field -->
            <div class="col-sm-12 input-div">
              <h3>Name</h3>
              <input
                [(ngModel)]="emailObj.name"
                type="text"
                class="form-control input-text"
                placeholder="Your Name*"
              />
            </div>

            <!-- Email Field -->
            <div class="col-sm-12 input-div">
              <h3>Email</h3>
              <input
                [(ngModel)]="emailObj.toEmail"
                type="email"
                class="form-control input-text"
                placeholder="Your Email*"
              />
            </div>

            <!-- Message Field -->
            <div class="col-sm-12 input-div">
              <h3>Message</h3>
              <textarea
                [(ngModel)]="emailObj.message"
                placeholder="Your Message*"
                class="text-area-cls form-control"
              ></textarea>
            </div>

            <!-- Submit Button -->
            <div class="col-sm-12 text-end">
              <button (click)="submitInfo()" class="btn submit-btn">
                SUBMIT NOW
              </button>
            </div>
          </div>

          <div class="col-md-5 row">
            <div
              class="col-md-6 d-flex justify-content-center align-items-center"
            >
              <h1
                style="
                  color: #0157a8;
                  font-size: 32px;
                  font-weight: 500;
                  line-height: 40px;
                "
              >
                Or,
              </h1>
            </div>

            <div class="col-sm-6 d-flex justify-content-end align-items-center">
              <div class="text-center">
                <img
                  style="width: 300px; padding: 50px; background: white"
                  src="../../../../../assets/images/qr-code-whatsapp.png"
                  alt=""
                />
                <a
                  aria-label="Chat on WhatsApp"
                  href="https://wa.me/+8801719304970"
                  style="text-decoration: none"
                >
                  <h1 class="chat-whatsApp mt-5">Chat on Whatsapp</h1>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="footer-area" id="resource-id">
      <div class="footer-bg-img">
        <div class="container my-3">
          <div class="row">
            <div class="col-sm-4">
              <h3 class="footer-headline">Address In Bangladesh</h3>
              <div class="d-flex mb-3 text-white">
                <mat-icon style="color: gainsboro"> location_on</mat-icon>
                &nbsp;&nbsp;
                <div style="margin-top: 5px">
                  H-39, R-11, Kallaynpur, Mirpur, Dhaka-1207
                  <!-- Suite 4, Level 4, THe Penthouse<br />
                  Ewropa Business Center<br />
                  Trip Dun Karm<br />
                  B'Kara BKR 9034, Malta - EU -->
                </div>
              </div>
              <h3 style="margin-top: 20px" class="footer-headline">Call</h3>
              <div class="d-flex mb-3 text-white">
                <mat-icon style="color: gainsboro"> phone</mat-icon>
                &nbsp;&nbsp;
                <div style="margin-top: 5px">
                  +8801685747910
                  <!-- , +40 721 198 459 -->
                </div>
              </div>
              <h3 style="margin-top: 20px" class="footer-headline">Email</h3>
              <div class="d-flex mb-3 text-white">
                <mat-icon style="color: gainsboro">email</mat-icon>
                &nbsp;&nbsp;
                <div style="margin-top: 5px">info@rexsystemsbd.com</div>
              </div>
            </div>

            <div class="col-sm-8">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3651.0204954220044!2d90.35694737419072!3d23.78228448755374!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c0c9b27d077b%3A0x54fdf14bcbcc0a56!2sRex%20System%20Bangladesh!5e0!3m2!1sen!2sbd!4v1687318374147!5m2!1sen!2sbd"
                width="100%"
                height="300"
                style="border: 0"
                allowfullscreen=""
                loading="lazy"
              ></iframe>
            </div>
          </div>
        </div>
        <div class="bootom-footer">
          <div class="container">
            <div class="d-flex justify-content-center text-white mt-5">
              <div>© 2022 Rex system Bangladesh All Rights Reserved.</div>
              <!-- <div>Lor</div> -->
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <div id="imageViewModal" class="popUpImageModal">
    <div class="closeBtn" (click)="closeImage()">&times;</div>
    <img class="img-responsive modal-content" src="{{ imageLink }}" />
  </div>
</div>
