<div
  class="container-fluid"
  style="background-image: linear-gradient(180deg, #fff, #ddd)"
>
  <header>
    <nav
      class="navbar navbar-expand-lg navbar-light bg-white"
    >
    <a href="">
      <img style="width: 70%;"
      src="assets/images/logo9.png"
      alt=""
    />
    </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse justify-content-end"
        id="navbarNavAltMarkup"
      >
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="#">Home</a>
          <a class="nav-item nav-link" (click)="gotToRedirect('gallery-id')">Gallery</a>
          <a class="nav-item nav-link"(click)="gotToRedirect('service-id')">Services</a>
          <a class="nav-item nav-link" (click)="gotToRedirect('about-id')">About Us</a>
          <a class="nav-item nav-link contact-text" (click)="gotToRedirect('contact-id')">Contact</a>
        </div>
      </div>
    </nav>
  </header>

  <div class="container">
    <div id="carouselExampleControls" class="carousel slide orange-bg" data-ride="carousel" >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="banner-area1" style="margin-top: 10px;">
              <div class="banner-image-background">
                <h1 class="banner-header">Banner &</h1>
                <h1 class="banner-header">Lorem</h1>
                <h1 class="banner-header">Area</h1>
                <h1 class="banner-header">Ipsum</h1>
                <p class="banner-large-p">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
                <button
                  class="btn btn-info"
                  style="
                    padding: 12px 25px;
                    background: #ffffff;
                    color: #31708e;
                    text-transform: uppercase;
                  "
                >
                  Excepteur sint occaecat cupidatat non proident
                </button>
              </div>
            </div>
        </div>
          <div class="carousel-item">
            <div class="banner-area2" style="margin-top: 10px;">
              <div class="banner-image-background">
                <h1 class="banner-header">Banner &</h1>
                <h1 class="banner-header">Lorem</h1>
                <h1 class="banner-header">Area</h1>
                <h1 class="banner-header">Ipsum</h1>
                <p class="banner-large-p">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
                <button
                  class="btn btn-info"
                  style="
                    padding: 12px 25px;
                    background: #ffffff;
                    color: #31708e;
                    text-transform: uppercase;
                  "
                >
                  Excepteur sint occaecat cupidatat non proident
                </button>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="banner-area3" style="margin-top: 10px;">
              <div class="banner-image-background">
                <h1 class="banner-header">Banner &</h1>
                <h1 class="banner-header">Lorem</h1>
                <h1 class="banner-header">Area</h1>
                <h1 class="banner-header">Ipsum</h1>
                <p class="banner-large-p">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
                <button
                  class="btn btn-info"
                  style="
                    padding: 12px 25px;
                    background: #ffffff;
                    color: #31708e;
                    text-transform: uppercase;
                  "
                >
                  Excepteur sint occaecat cupidatat non proident
                </button>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="banner-area4" style="margin-top: 10px;">
              <div class="banner-image-background">
                <h1 class="banner-header">Banner &</h1>
                <h1 class="banner-header">Lorem</h1>
                <h1 class="banner-header">Area</h1>
                <h1 class="banner-header">Ipsum</h1>
                <p class="banner-large-p">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
                <button
                  class="btn btn-info"
                  style="
                    padding: 12px 25px;
                    background: #ffffff;
                    color: #31708e;
                    text-transform: uppercase;
                  "
                >
                  Excepteur sint occaecat cupidatat non proident
                </button>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
    </div>
</div>

  <!-- <div class="banner-area" style="margin-top: 10px;">
    <div class="banner-image-background">
      <h1 class="banner-header">Banner &</h1>
      <h1 class="banner-header">Lorem</h1>
      <h1 class="banner-header">Area</h1>
      <h1 class="banner-header">Ipsum</h1>
      <p class="banner-large-p">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </p>
      <button
        class="btn btn-info"
        style="
          padding: 12px 25px;
          background: #ffffff;
          color: #31708e;
          text-transform: uppercase;
        "
      >
        Excepteur sint occaecat cupidatat non proident
      </button>
    </div>
  </div> -->

  <div id="about-id" class="about-area">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="about-header">About Us</div>
          <p class="about-p">
            Porta nibh venenatis cras sed felis eget velit aliquet. Vehicula ipsum a arcu cursus. Sagittis id consectetur purus ut faucibus pulvinar elementum integer enim.
          </p>
          <p class="about-p">
            Ac placerat vestibulum lectus mauris. Adipiscing commodo elit at imperdiet dui. Sed risus ultricies tristique nulla aliquet. Posuere sollicitudin aliquam ultrices sagittis orci a scelerisque purus.
          </p>
          <p class="about-p">
            Tellus cras adipiscing enim eu. Eros donec ac odio tempor. In egestas erat imperdiet sed euismod nisi porta lorem. Viverra aliquet eget sit amet tellus cras adipiscing. Nullam eget felis eget nunc. Vivamus at augue eget arcu dictum varius.
          </p>
          <p class="about-p">
            Varius morbi enim nunc faucibus a pellentesque sit. Placerat duis ultricies lacus sed turpis tincidunt id aliquet. Diam sit amet nisl suscipit adipiscing. Venenatis a condimentum vitae sapien pellentesque habitant morbi tristique senectus.
          </p>
          <p class="about-p">
            Sagittis aliquam malesuada bibendum arcu vitae elementum. Volutpat sed cras ornare arcu dui vivamus arcu felis bibendum. Id aliquet lectus proin nibh nisl condimentum id.
          </p>
          <p class="about-p">
            Diam quis enim lobortis scelerisque fermentum dui faucibus in. Fringilla ut morbi tincidunt augue interdum. Nam at lectus urna duis convallis convallis
          </p>
        </div>
        <div class="col-sm-6">
          <div class="parent-son-img"></div>
        </div>
      </div>
    </div>
  </div>

  <div id="service-id" class="business-area">
    <div class="container">
      <h1 class="business-header">Service</h1>

      <div
        id="accordion1"
        style="
          border-width: 1px;
          border-color: #e2e2e2;
          border-radius: 0px 0px 10px 10px;
          background-color: #ffffff;
          box-shadow: 7px 7px 10px 0 rgb(63 116 255 / 9%);
        "
      >
        <div class="btn-header d-flex three-btn">
          <a
            (click)="updateSelectedDom($event)"
            class="btn tab-link button-selected btn-first"
            id="WhoWeAreLink"
            data-toggle="collapse"
            href="#WhoWeAre"
            aria-expanded="true"
            aria-controls="collapseOneA"
          >
            Lorem
          </a>
          <a
            (click)="updateSelectedDom($event)"
            style="border-right: 1px solid #e2e2e2"
            class="btn collapsed tab-link button-deselected btn-second"
            id="DevelopmentServicesLink"
            data-toggle="collapse"
            href="#DevelopmentServices"
            aria-expanded="false"
            aria-controls="collapseTwoA"
          >
            Ipsum
          </a>
          <a
            (click)="updateSelectedDom($event)"
            class="btn collapsed tab-link button-deselected"
            id="ContactUsLink"
            data-toggle="collapse"
            href="#ContactUs"
            aria-expanded="false"
            aria-controls="collapseTwoA"
          >
            DummyData
          </a>
        </div>
        <div
          id="WhoWeAre"
          class="collapse show"
          aria-labelledby="headingTwoAd"
          data-parent="#accordion1"
        >
          <div class="page-content">
            <div class="row">
              <div class="col-sm-6" style="padding-right: 0">
                <div class="tab-img1"></div>
              </div>
              <div class="col-sm-6" style="padding-left: 0">
                <div id="accordion-h1">
                  <div class="border-list">
                    <div id="headingOne">
                      <a
                        class="btn collapse-title"
                        data-toggle="collapse"
                        data-target="#collapseOne"
                        aria-expanded="true"
                        aria-controls="collapseOne"
                      >
                        <h4 class="tab-header4">
                         Lorem ipsum dolor sit, amet consectetur
                        </h4>
                      </a>
                    </div>

                    <div
                      id="collapseOne"
                      class="collapse"
                      aria-labelledby="headingOne"
                      data-parent="#accordion-h1"
                    >
                      <p class="tab-p">
                        Nibh tellus molestie nunc non blandit massa enim nec. Turpis egestas sed tempus urna et pharetra pharetra
                      </p>
                    </div>
                  </div>
                </div>

                <div id="accordion-h2">
                  <div class="border-list">
                    <div id="headingTwo">
                      <a
                        class="btn collapsed collapse-title"
                        data-toggle="collapse"
                        data-target="#collapseTwo"
                        aria-expanded="false"
                        aria-controls="collapseTwo"
                      >
                        <h4 class="tab-header4">loem ewere sesdfd</h4>
                      </a>
                    </div>
                    <div
                      id="collapseTwo"
                      class="collapse"
                      aria-labelledby="headingTwo"
                      data-parent="#accordion-h2"
                    >
                      <p class="tab-p">
                        Amet luctus venenatis lectus magna fringilla urna porttitor rhoncus.
                      </p>
                    </div>
                  </div>
                </div>

                <div id="accordion-h3">
                  <div class="border-list">
                    <div id="headingThree">
                      <a
                        class="btn collapsed collapse-title"
                        data-toggle="collapse"
                        data-target="#collapseThree"
                        aria-expanded="false"
                        aria-controls="collapseThree"
                      >
                        <h4 class="tab-header4">
                         Something goes here
                        </h4>
                      </a>
                    </div>
                    <div
                      id="collapseThree"
                      class="collapse"
                      aria-labelledby="headingThree"
                      data-parent="#accordion-h3"
                    >
                      <p class="tab-p">
                        Turpis egestas sed tempus urna et pharetra pharetra. Tincidunt arcu non sodales neque sodales. Rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt lobortis feugiat. Ut aliquam purus sit amet luctus venenatis lectus
                      </p>
                    </div>
                  </div>
                </div>

                <div id="accordion-h4">
                  <div class="border-list">
                    <div id="headingFour">
                      <a
                        class="btn collapsed collapse-title"
                        data-toggle="collapse"
                        data-target="#collapseFour"
                        aria-expanded="false"
                        aria-controls="collapseFour"
                      >
                        <h4 class="tab-header4">
                          Varius morbi enim nunc faucibus a pellentesque sit. 
                        </h4>
                      </a>
                    </div>
                    <div
                      id="collapseFour"
                      class="collapse"
                      aria-labelledby="headingFour"
                      data-parent="#accordion-h4"
                    >
                      <p class="tab-p">
                        Quam lacus suspendisse faucibus interdum posuere. Feugiat pretium nibh ipsum consequat
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          id="DevelopmentServices"
          class="collapse"
          aria-labelledby="headingTwoAd"
          data-parent="#accordion1"
        >
          <div class="page-content">
            <div class="row">
              <div class="col-sm-6" style="padding-right: 0">
                <div class="tab-img2"></div>
              </div>
              <div class="col-sm-6" style="padding-left: 0">
                <div id="accordion-mh1">
                  <div class="border-list">
                    <div id="headingOne">
                      <a
                        class="btn collapse-title"
                        data-toggle="collapse"
                        data-target="#collapseOne"
                        aria-expanded="true"
                        aria-controls="collapseOne"
                      >
                        <h4 class="tab-header4">Lorem ipsum:</h4>
                      </a>
                    </div>

                    <div
                      id="collapseOne"
                      class="collapse"
                      aria-labelledby="headingOne"
                      data-parent="#accordion-mh1"
                    >
                      <p class="tab-p">
                        Diam quis enim lobortis scelerisque fermentum dui faucibus in. Fringilla ut morbi tincidunt augue interdum. Nam at lectus urna duis convallis convallis. Imperdiet nulla malesuada pellentesque elit eget
                        Diam quis enim lobortis scelerisque fermentum dui faucibus in. Fringilla ut morbi tincidunt augue interdum. Nam at lectus urna duis convallis convallis. Imperdiet nulla malesuada pellentesque elit eget
                      </p>
                    </div>
                  </div>
                </div>

                <div id="accordion-mh2">
                  <div class="border-list">
                    <div id="headingTwo">
                      <a
                        class="btn collapsed collapse-title"
                        data-toggle="collapse"
                        data-target="#collapseTwo"
                        aria-expanded="false"
                        aria-controls="collapseTwo"
                      >
                        <h4 class="tab-header4">Loremiaja</h4>
                      </a>
                    </div>
                    <div
                      id="collapseTwo"
                      class="collapse"
                      aria-labelledby="headingTwo"
                      data-parent="#accordion-mh2"
                    >
                      <p class="tab-p">
                        Foloreme sdfsf flori: 8<br />
                         name in fkew: 143<br />
                        Loren<br />
                        Diam quis enim lobortis scelerisque fermentum dui faucibus in. Fringilla ut morbi tincidunt augue interdum. Nam at lectus urna duis convallis convallis. Imperdiet nulla malesuada pellentesque elit eget
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          id="ContactUs"
          class="collapse"
          aria-labelledby="headingTwoAd"
          data-parent="#accordion1"
        >
          <div class="page-content">
            <div class="text-center" style="padding: 2rem">
              <button
                class="btn btn-info"
                style="
                  padding: 12px 25px;
                  border-radius: 0px;
                  background-color: #31708e;
                  font-size: 12px;
                  line-height: 24px;
                  font-weight: 400;
                  letter-spacing: 1px;
                  text-transform: uppercase;
                "
              >
                Download now
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="gallery-id" class="img-area">
    <div class="container">
      <h1>
        <!-- This is gallery area -->

      </h1>
      <div class="row">
        <div class="col-sm-4">
          <img class="w-100" (click)="imageViewer('../../../../../assets/images/gallery/img1.jpg')"  src="../../../../../assets/images/gallery/img1.jpg" alt="">
        </div>
        <div class="col-sm-4">
          <img class="w-100" (click)="imageViewer('../../../../../assets/images/gallery/img2.jpg')"  src="../../../../../assets/images/gallery/img2.jpg" alt="">
        </div>
        <div class="col-sm-4">
          <img class="w-100" (click)="imageViewer('../../../../../assets/images/gallery/img3.jpg')"  src="../../../../../assets/images/gallery/img3.jpg" alt="">
        </div>
        <div class="col-sm-4">
          <img class="w-100" (click)="imageViewer('../../../../../assets/images/gallery/img4.jpg')"  src="../../../../../assets/images/gallery/img4.jpg" alt="">
        </div>
        <div class="col-sm-4">
          <img class="w-100" (click)="imageViewer('../../../../../assets/images/gallery/img5.jpg')"  src="../../../../../assets/images/gallery/img5.jpg" alt="">
        </div>
        <div class="col-sm-4">
          <img class="w-100" (click)="imageViewer('../../../../../assets/images/gallery/img6.jpg')"  src="../../../../../assets/images/gallery/img6.jpg" alt="">
        </div>
      </div>
    </div>
  </div>

  <div id="contact-id" class="contact-area">
    <div class="container">
      <div class="form-shadow">
        <div class="row">
          <div class="col-sm-12">
            <h1>Send us a message*</h1>
          </div>
          <div class="col-sm-6">
            <input
              type="text"
              class="form-control input-text"
              placeholder="Your name*"
            />
          </div>
          <div class="col-sm-6">
            <input
              type="text"
              class="form-control input-text"
              placeholder="Email-address*"
            />
          </div>
          <div class="col-sm-6">
            <input
              type="text"
              class="form-control input-text"
              placeholder="Phone number*"
            />
          </div>
          <div class="col-sm-6">
            <input
              type="text"
              class="form-control input-text"
              placeholder="Object*"
            />
          </div>
          <div class="col-sm-12">
            <textarea
              placeholder="Address*"
              name=""
              id=""
              class="text-area-cls form-control"
            ></textarea>
          </div>
          <div class="col-sm-12">
            <button
              class="btn btn-info"
              style="
                padding: 12px 25px;
                background: #31708e;
                color: white;
                font-size: 12px;
                border-radius: 0;
                margin-top: 20px;
              "
            >
              SUBMIT NOW
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="footer-area" id="resource-id">
    <div class="footer-bg-img">
      <div class="container">
        <div class="footer-bg">
          <div class="row">
            <div class="col-sm-3">
              <h1 class="footer-header text-white">
                Loremn tpsum the askse seneedd
              </h1>
              <p class="footer-p text-white">
                Diam quis enim lobortis scelerisque fermentum dui faucibus in. Fringilla ut morbi tincidunt augue interdum. Nam at lectus urna duis convallis convallis. Imperdiet nulla malesuada pellentesque elit eget.
              </p>
            </div>
            <div class="col-sm-3">
              <h1 class="footer-header text-white" style="margin-left: 2px;">Lorem Ipsum</h1>
              <div class="d-flex mb-2 text-white">
                <!-- <img
                  class="footer-icon"
                  src="assets/images/address-img.png"
                  alt=""
                /> -->
                <mat-icon style="color: gainsboro;"> location_on</mat-icon>
                &nbsp;&nbsp;
                <div style="margin-top: 5px">
                  12 Nerva Traian Street, building M37, entry 4, apt. 105, sector 3, Bucharest, Romani
                </div>
              </div>
              <div class="d-flex mb-2 text-white">
                <!-- <img
                  class="footer-icon"
                  src="assets/images/phone-icon.png"
                  alt=""
                /> -->
                <mat-icon  style="color: gainsboro;"> phone</mat-icon>
                &nbsp;&nbsp;
                <div style="margin-top: 5px">+40 721 198 4590</div>
              </div>
              <div class="d-flex mb-2 text-white">
                <!-- <img
                  class="footer-icon"
                  src="assets/images/email-send-icon.png"
                  alt=""
                /> -->
                <mat-icon style="color: gainsboro;"> email</mat-icon>
                &nbsp;&nbsp;
                <div style="margin-top: 5px">europeanconsortium@gmail.com</div>
              </div>
            </div>
            <div class="col-sm-6">
          
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2849.585300682196!2d26.11399211490973!3d44.4211548104509!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff1e87f1a90d%3A0x31acf47240ac1c5b!2sStrada%20Nerva%20Traian%2012%2C%20Bucure%C8%99ti%20030167%2C%20Romania!5e0!3m2!1sen!2sbd!4v1640926867122!5m2!1sen!2sbd"
                width="100%"
                height="350"
                style="border: 0"
                allowfullscreen=""
                loading="lazy"
              ></iframe>
            </div>
          </div>
        </div>
      </div>
      <div class="bootom-footer">
        <div class="container">
          <div class="d-flex justify-content-between text-white">
            <div>Copy right all right reserved 2021</div>
            <div>Loreme</div>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <div id="imageViewModal" class="popUpImageModal">
    <div class="closeBtn" (click)="closeImage()">&times;</div>
    <img class="img-responsive modal-content " src="{{imageLink}}">
  </div>
  


</div>
