<div  class="doctor-details-area">
    <div class="doctor-info">
       <div style="padding: 0 2rem;">
        <div class="text-center heading-text">
            Registered Dental Hygienist
        </div>
        <div class="row" style="padding-bottom: 3rem;border-bottom:  0.5px solid #D1D9E6;">
            <div class="col-sm-6 doctor-name">
                David Adme
            </div>
            <div class="col-sm-6">
                <div class="text-right" style="padding:0px 5px">
                    <button [routerLink]="['/home/doctor-list']" class="btn btn-info" style="border:0.25px solid #71778A;background: #FFFFFF;color:#71778A;"> <mat-icon style="vertical-align: middle;">chevron_left</mat-icon> &nbsp; Back</button>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 2rem;">
            <div class="col-sm-6">
                <div class="text-title">License Number</div>
                <div class="text-content">020340343505</div>
                <div class="text-title">License Status</div>
                <div class="text-content">Active</div>
                <div class="text-title">License Expiration Date</div>
                <div class="text-content">10/20/2025</div>
                <div class="text-title">Last Checked</div>
                <div class="text-content">10/5/2018</div>
            </div>
            <div class="col-sm-6">  
                <div class="text-title">Sealant Certification</div>
                <div class="text-content">Yes/No</div>
                <div class="text-title"> Nitrous Oxide Monitoring</div>
                <div class="text-content">Yes/No</div>
                <div class="text-title">Disciplinary Action</div>
                <div class="text-content">Yes/No</div>
                <div class="text-title">Remedial Plan</div>
                <div class="text-content">Yes/No</div>
             
            </div>
        </div>
       </div>
    </div>
  </div>